.one{
    border:1px solid gray;
    padding:20px;
    background-color:whitesmoke;
    font-style:italic;
    border-radius: 5px;
}
#add{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    column-gap:20px;
    row-gap:20px;
    border:1px solid black;
    padding:20px;
    background-color:white;
    border-radius: 5px;
    height:640px;
    overflow-y: auto;
}

#scroll-Container{
    width:100%;
    height:30px;
    border:2px solid black;
    border-radius:5px;
}
#mark{
    width:100%;
    height:30px;
    border:2px solid lightgreen;
    background-color:lightgreen;
    transition:width 0.3s;
    display:flex;
    font-size:20px;
    justify-content: center;
    margin-top:0px;
}