body{
    padding:30px 100px;
    background-color:lightgray;
}
#container{
    background-color:lightcyan;
    padding:10px;
    border:5px solid wheat;
    border-radius:10px;
    margin-left:200px;
    width:500px;
    height:700px;
    display:flex;
    flex-direction:column;
    overflow-x:scroll;
}
#container p{
    line-height:30px;
}
h1{
    text-align:center;
}
#scroll-Container{
    width:40px;
    height:400px;
    border:2px solid black;
    border-radius:5px;
    margin-top:-500px;
}
#mark{
    width:37px;
    height:0%;
    border:2px solid cornflowerblue;
    background-color:cornflowerblue;
}