li{
    text-overflow:ellipsis;
    white-space:nowrap;
    overflow:hidden;
    font-style:italic;
}
.listItems {
    margin-left:20px;
    max-width:40px;
    padding-left:0px;
}

#show{
    padding:50px;
    width:600px;
    display:flex;
    justify-self:center;
    border:3px solid gray;
    border-radius:10px;
    font-style:italic;
    background-color:rgb(226, 226, 216);
}
body{
    background-color:azure;
}
h1{
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}