body{
    background-color:rgb(250, 237, 239);
}
.main img{
    margin-top:100px;
    border-radius:10px;
    width:600px;
    height:500px;
    display:flex;
    justify-self:center;
}

h1{
font-style:italic;
color:darkred;
display:flex;
justify-self:center;
}

.sidebar{
    width:150px;
    background-color:black;
    color:white;
    padding:10px;
}
body{
    padding:0;
    margin:0;
}

.menu{
margin-top:-640px;
margin-left:10px;
}

.sidebar{
    display:flex;
    flex-direction:column;
    gap:20px;
    height:100%;
    width: 0;
    position:fixed;
    z-index:1;
    top:0;
    left:0;
    /* overflow-x:hidden; */
    padding-left:20px;
    padding-top:70px;
    opacity:0.5;
}

.sidebar .com{
    /* display:block; */
    transition:0.3s;
}

.sidebar .closedbtn{
    position:absolute;
    top:10px;
    right:25px;
    margin-left:50px;
}

.list1,.list2,.list3,.list4,.list5{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
}

.slist1,.slist2,.slist3,.slist4,.slist5{
    cursor:pointer
}

.sublist1 li,.sublist2 li,.sublist3 li,.sublist4 li,.sublist5 li{
    /* height:0px;;
    overflow-y:auto;
    transition-property: height;
    transition:1s; */
    padding:10px;
    list-style-type:none;
    /* border:2px solid white; */
}

/* .sublist1{
    transition:1s;
} */

/* .addheight{
height:100px;
} */



.hide{
    display:none;
}