h1{
  display:flex;
  justify-self:center;
  font-style:italic;
}

#listItems{
    display:flex;
    justify-content:space-evenly;
    list-style-type: none;
    
}

/* .list{
    display:flex;
    flex-direction:row;
    position:relative;
} */

.list1,.list2,.list3,.list4,.list5{
    display:flex;
    flex-direction:row;
    position:relative;
    border:1px solid whitesmoke;
}

#navi{
    border:3px solid black;
    background-color:white;
}

body{
    background-color:rgb(231, 198, 154);
}

.sublist1,.sublist2,.sublist3,.sublist4,.sublist5{
    margin-top:30px;
    width:100px;
    display:flex;
    flex-direction:column;    
    border:1px solid black;
    background-color:lightgrey;
    position:absolute;
}
.sublist1 li,.sublist2 li,.sublist3 li,.sublist4 li,.sublist5 li{
    border-bottom:1px solid gray;
    padding:10px;
    /* border:2px solid white; */
}

.hide{
    display:none;
}