table,th,td,tr{
    border:2px solid black;
    border-collapse: collapse;
    
}
th,td{
    padding:10px;
}
caption{
    padding:20px;
}

table,th,td,tr{
    border:2px solid black;
    border-collapse:collapse;
}
th,td{
    padding:10px;
}
caption{
    padding:20px;
}


table,th,td,tr{
    border:2px solid black;
    border-collapse:collapse;
}
th,td{
    padding:10px;
}
caption{
    padding:20px;
}


table,th,td,tr{
    border:2px solid black;
    border-collapse:collapse;
}
th,td{
    padding:10px;
}
caption{
    padding:20px;
}

table,th,td,tr{
    border:2px solid black;
    border-collapse:collapse;
}
th,td{
    padding:10px;
}
caption{
    padding:10px;
}