ul{
    list-style-type: none;
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    border:1px solid slategrey;
    padding:10px;
}

h1{
    display:flex;
    justify-self: center;
}

.dogs,.birds,.cats{
    line-height:30px;
    width:0%;
    /* width:100%; */
    transition-property: width;
    transition:0.5s;
    
}

.container{
    display:flex;
    flex-direction:row;
    justify-content: space-evenly;
    gap:20px;
     /* transform: translateX(0%);
    transition-property:transform;
    transition:1s; */
}

.hide{
    display:none;
}
/* #unav{
    padding:10px 20px;
} */
