body{
    box-sizing:border-box;
}

#box{
    width:300px;
    height:150px;
    background-color:steelblue;
    border:1px solid white;
    display:flex;
    justify-self:center;
    margin-top:400px;
}
