img{
    min-width:1640px;
    height:500px;
    padding:10px;
    /* width:100%;  */
    border:3px solid lightgray;
    border-radius:10px;
    background-color: whitesmoke;
}
.hide{
    display:none;
}
.buttons{
    display:flex;
    flex-direction:row;
    justify-self:center;
    gap:290px;
    padding-left:10px;
    padding-top:50px;
}
#prvbtn,#nxtbtn{
    font-size:15px;
    border-radius:5px;
    padding:5px;
    border:1px solid gray;
}
/* .main{
    display:flex;
    flex-direction:column;
    justify-self:center;
} */
body{
    background-color:rgb(245, 214, 245);
        overflow-x:auto;

}
#add{
    transition: filter 0.5s 
ease-in-out, opacity 0.5s 
ease-in-out;
 transform: translate();
}
.slides{
    width:1700px;
    height:500px;
    scrollbar-width:none;
    display:flex;
    flex-direction:row;
    /* animation: slide 18s infinite; */
    transform: translateX(0%);
    transition-property:transform;
    transition:1s;
}