.tohide{
    display:none;
}
h1{
    font-family:Arial, Helvetica, sans-serif;
    color:palevioletred;
    text-align:center;
}
.listItems {
    border:1px solid gray;
    /* display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center; */
}