.container{
    padding:20px;
    padding-top:50px;
    line-height:30px;
    border:2px solid black;
    height:600px;
    overflow-y:auto;
}
img{
    display:flex;
    justify-self:center;
    padding:10px;
    border-radius:15px;
}
h1{
    text-align:center;
    font-style: italic;
}
h2,p{
    font-style: italic;
}
.sctop{
    background-color:green;
    color:white;
    padding:5px;
    font-size:15px;
}
.sctop svg{
    background-color:lightgreen;
}
.hide{
    display:none;
}