.container{
    height:350px;
    width:300px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    padding:20px 5px 30px;
    border:1px solid grey;
    border-radius:5px;
    background-color:rgb(241, 240, 239);
}
.image1 img{
    width:300px;
    height:350px;
    padding-bottom:3px;
}
.bases span{
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
}
.base1,.base2,.base3,.base4,.base5{
    display:flex;
    flex-direction:row;
    gap:2px;
}
.split1,.split2{
    display:flex;
    flex-direction:row;
 
}
.bases{
    display:flex;
    flex-direction:row;
    gap:10px;
}
.base5{
    margin-left:98px;
}
.coloringHeart{
    fill:red;
}