img{
    width:400px;
    height:400px;
    padding:10px;
    margin-top:100px;
    border:3px solid lightgray;
    border-radius:10px;
    background-color: whitesmoke;
}
.hide{
    display:none;
}
.buttons{
    display:flex;
    flex-direction:row;
    gap:290px;
    padding-left:10px;
    padding-top:20px;
}
#prvbtn,#nxtbtn{
    font-size:15px;
    border-radius:5px;
    padding:5px;
    border:1px solid gray;
}
.main{
    display:flex;
    flex-direction:column;
    justify-self:center;
}
body{
    background-color:rgb(245, 214, 245);
}
