#add{
    margin-left:1350px;
    display:flex;
    flex-direction:column;
    gap:10px;
    width:0px;
    transition-property:width;
    transition:2s;
}

.styleadd{
    border:2px solid black;
    padding:5px;
    border-radius:5px;
    /* width:150px; */
    /* width:0px; */
    display:flex;
    flex-direction:row;
    gap:10px;
    /* transition-property:width;
    transition:2s; */
}

.closed{
    font-weight:700;
    transform:translateY(20px);
    transition:transform 0.1s ease-out;
}

.hide{
    display:none;
}


